.body-main {
    position: absolute;
    top: 70px;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: start;
    width: 100%;
    background-color: #111315;
}