.header-sb > input {
    /*margin-bottom: 20px;/*/
    margin: 0;
    /*padding: 0;*/
    color: #b1b1b1;
    font-size: 16px;
    border: none;
    background: none;
    height: 30px;
    width: 250px;
}

.search-icon {
    font-size: 16px;
    color: #b1b1b1;
    padding-right: 5px;
}

.header-sb > input:focus {
    outline: none;
}

.header-sb > input::placeholder {
    color: #b1b1b1;
}

.header-sb {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px 5px 10px;
    /*padding: 0;*/
    border-radius: 15px;
    border: 3px solid #23272b;
    background-color: #1a1d1f;
    /*height: 30px;*/
}