.post-page-main {
    background-color: #111315;
    min-height: 100vh;
    padding-left: 50px;
    display: flex;
}

.post-page-body {
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
