.post-comments {
    width: 300px;
    height: 700px;
    /*border: 2px solid #23272b;*/
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: space-between;
    margin-left: 15px;
}

.comments-input {
    outline: none;
    margin-bottom: 10px;
    font-size: 15px;
    border-radius: 15px;
    border: 3px solid #23272b;
    background-color: #1a1d1f;
    height: 50px;
    width: 370px;
    color: #b1b1b1;
    padding: 10px;
    /*max-lines: 10;*/
    font-family: sans-serif;
    resize: none;
}

.comments-input::placeholder {
    color: #b1b1b1;
}

.new-comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.comments-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 500px;
    /*box-shadow: 10px 10px 5px lightblue inset;*/
}

.comments-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 350px;
    padding-left: 15px;
    padding-right: 30px;
    overflow-y: auto;
    overflow-x: hidden;
    /*max-height: 500px;*/
    margin-bottom: 10px;
}

.comments-list::-webkit-scrollbar {
    display: none;
}

.create-comment-button {
    padding: 0;
    margin-left: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #23272b;
    background-color: #2a85ff;
    cursor: pointer;
    transition: 0.5s;
}

.create-comment-button:hover {
    background-color: #2a85ff;
    color: white;
    transform: scale(1.2);
    transition: 0.5s;
    border: 4px solid #23272b;
}