@font-face {
  font-family: "titleFont";
  src: url("assets/fonts/Macarons-Bold-Sketch.otf");
}

@font-face {
  font-family: "titleFontIcons";
  src: url("assets/fonts/Macarons-Ornaments.otf");
}

.App {

}